.btn__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .btn__outline {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    margin: 2px;
    backface-visibility: hidden;
    &_active {
        color: $frame-color;
        border-radius: 100%;
        background-color: $second-color;
      &:before {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition-duration: 0.3s;
        transition-property: top, right, bottom, left;
      }
      &:focus:before, &:active:before {
        border: $frame-color solid 1px;
        border-radius: 100%;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
      }
    }
  }
  