.header {
    width: 1130px;
    margin: 0 auto;
    height: 500px;
    background-color: $second-color;
    &__image {
        position: absolute;
        width: 288px;
        height: 482px;
        left: 870px;
        top: 17px;
    }
    .promo {
        margin: 54px 290px 201px 95px;
        &__square {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 300px;
            margin-left:285px;
            border: 8px solid $frame-color;
            box-sizing: border-box;
            transform: translateY(-18%);
            clip-path: inset(18% 0 0 0);
            z-index: 1;
            
        }
        .title {
            position: absolute;
            transform: translateX(-18%);
            margin-top: -12px;
            margin-left: 95px;
            font-weight: 500;
            font-size: 72px;
            line-height: 88px;
            color: #E5E5E5;
        }
        .subtitle {
            position: relative;
            font-size: 36px;
            color: #c4c4c4;
            left: 430px;
            top: 225px;
            font-family: 'Montaga';
            font-weight: normal;
        }
    }
}