@import 'base/variables';

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $main-color;
}

.container {
    position: absolute;
    margin: 0 auto;
}



@import 'header.scss';
